ReisplannerXtra.iml
.DS_Store
build
.idea
.gradle
local.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties
